/* RESPONSIVE */
/* smoll */
@media (min-width:280px) and (max-width:480px) {
    #conteneur {
        height: 700px;
        width: auto;
        margin: 0 auto;
        margin-top: 10vh;
    }
    .carte {
    background-color: azure;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    /* animation */
    transition: transform .7s; 
}
.carte:hover {
     transform: scale(1.2);
}
    button {
        margin-top: 5vh;
    }
    .details {
        padding: 4px 4px 4px 4px;
        height: 400px;
        max-width: auto;
}
}
/* smoll */

/* big */
@media (min-width:800px) and (max-width:1720px) {
    img {
        width: auto;
        height: 214px;
        border-radius: 12px;
        object-fit: cover;
        box-shadow: 3px 3px 5px lightgray;
    }
    .icocon {
        font-size: 175%;
    }
    .nom {
        font-size: 300%;
    }
    .details>p {
        font-size: 150%;
    }
    .details>button {
        font-size: 24px ;
        padding: 24px 48px;
    }
}
/* Big */
/* CSS */
body {
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
}
img {
    width: 90%;
    height: /*214px*/ 40%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 3px 3px 5px lightgray;
}
#conteneur {
    max-width: /*300px*/ 80%;
    max-height: auto;
    margin: 0 auto;
    margin-top: 10vh;
}
a {
    text-decoration: none;
    color: #171717;
}
.carte {
    background-color: azure;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    /* animation */
    transition: transform .7s; 
}
.carte:hover {
     transform: scale(1.05);
}
#conteneur {
    display: grid;
    text-align: center;
    
}
#conteneur>ul {
    display: inline-block;
    width: auto;
}
ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
.gh, .li, .ig {
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 5%;
    color:lightgray;
    text-align: center;
    transition: transform .2s;
    
}
.gh:hover,.li:hover,.ig:hover {
    transform: scale(1.2);
}
.gh>a {
    text-decoration: none;
}
.li>a {
    text-decoration: none;
}
.ig>a {
    text-decoration: none;
}
a:visited{
    color:lightpink;
}
/* Style du nom */
.nom {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 16px;
}
/* Style p */
p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
    font-weight: 600;
    text-align: center;
}
button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
/* Par défaut inline-block, => block avec margin */
    margin: 0 auto;
    display: block;
/* Le curseur */
    cursor: pointer;
/* animation */  
    transition: transform .2s;
}
/* focus et hover pour le bouton */
button:focus, 
button:hover {
    background-color: #0077ff;
    color: #e0efff;
}
button:hover{
    transform: scale(1.1);
}
.details {
    padding: 8px 8px 8px 8px;
    max-height: auto;
    max-width: inherit;
}